@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@using System.Text.Json
@using Blazored.Toast.Configuration

<div class="page">
    <main>
        <div class="top-row px-4">
            @if (IsLoggedIn)
            {
                <button @onclick="LogOut">
                    Log Out
                </button>
            }
        </div>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopLeft"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                ShowCloseButton="false"/>

@code
{
    bool IsLoggedIn { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var isLoggedInJson = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "loggedIn");
        if (!string.IsNullOrEmpty(isLoggedInJson))
        {
            IsLoggedIn = JsonSerializer.Deserialize<bool>(isLoggedInJson);
        }
    }

    private async Task LogOut()
    {
        await JSRuntime.InvokeVoidAsync("sessionStorage.clear");
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true); // Reload the page
    }
}

@*reference 
https://www.youtube.com/watch?v=F49YGCtKCGs&ab_channel=AshProgHelp-ProgrammingHelp*@